<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body>
    <div class="uplod">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="uplod"></label>
            <input type="file" name="image" id="upload" >
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>